@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  h1 {
    @apply text-[64px] font-bold leading-[74px];
  }

  h2 {
    @apply text-[48px] font-bold leading-[56px];
  }

  h3 {
    @apply text-[40px] font-bold leading-[48px];
  }

  h4 {
    @apply text-[32px] font-bold leading-[36px];
  }

  h5 {
    @apply text-[22px] font-bold leading-[28px];
  }

  h6 {
    @apply text-[18px] font-bold leading-[24px];
  }

  p {
    @apply text-[24px] leading-[32px];
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {
  .table {
    border-top: 2px solid #ffd601;
  }
  .table tr {
    border-bottom: 1px solid #eff3f8;
  }
  .table tfoot tr:last-child {
    border-bottom: none;
  }
}
